* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: rgb(2, 22, 59);
    padding: 16px 0;
    color: rgba(255, 255, 255, 0.877);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: rgba(255, 255, 255, 0.877);
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#weeknews {
    background-color: rgba(31, 31, 31, 0.11);
}

#weeknews .articles article a {
    background-color: rgba(10, 10, 10, 0.87);
}

#news {
    background-color: rgba(36, 36, 36, 0.253);
}

#sports {
    background-color: antiquewhite;
}